:root {
	--cor-base-azul: #01013A;
	--cor-base-cinza: #D9D9D9;
	font-family: 'Source Code Pro', monospace;
	font-weight: 200;
	font-size: 15px;
}

html, body, * {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	justify-content: center;
}

#titulo {
	text-align: center;
	padding: 30px 0px 30px 0px;
	font-family: 'Staatliches', cursive;
	font-size: 27px;
}

#sub-titulo {
	padding-bottom: 15px;
	font-family: 'Staatliches', cursive;
	font-size: 22px;
	text-align: center;
}

.bloco {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
}

.bateria {
	flex-direction: column;
	border: 1px solid #000000;
	border-radius: 5px;
	padding: 10px;
	margin: 2% 5%;
   	-webkit-box-shadow: 5px 5px 0 #C0C0C0;
   	-moz-box-shadow: 5px 5px 0 #333;
}

.bateria > p {
	display: flex;
}

.bateria > p > span {
	flex-grow: 1;
}

.bateria > p > span:nth-child(2) {
   text-align: right;
   margin-left: 100px;
}

.destaque {
	font-style: italic;
	font-size: 17px;
	font-weight: bold;
}

.temperatura {

}

.temperatura.low span:nth-child(2) {
	color: red;
}

.temperatura.medium span:nth-child(2) {
	color: orange;
}

.temperatura.high span:nth-child(2) {
	color: green;
}

.carga {

}

.carga.low span:nth-child(2) {
	color: red;
}

.carga.medium span:nth-child(2) {
	color: orange;
}

.carga.high span:nth-child(2) {
	color: green;
}

.linkHistorico {
  	border: none;
  	color: white;
  	padding: 5px 5px;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;
  	margin: 4px 2px;
  	cursor: pointer;
}

.texto {
	color: black;
	text-align: center;
}